<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.tailwindcss.com" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
</head>
<body class="h-screen overflow-hidden flex items-center justify-center" style="background: #edf2f7;">
    <div class="h-screen">
      <div class="w-100 mt-24 m-auto lg:mt-16 max-w-sm">
  
        <div class="bg-white shadow-2xl rounded-t-3xl rounded-b-3xl">
          <div class="flex items-center "> 
             <h2 class=" pl-4 text-gray-800 text-xs  p-2 mt-4 underline">Categorie:</h2>
          <h2 class="pl-4 text-gray-800 text-2xl font-bold pt-4">Order Summary</h2>
          </div>
          <div class="w-5/6 m-auto">
          </div>
          <div class="bg-white shadow-2xl rounded-t-3xl rounded-b-3xl">
            <div class="flex items-center ">
              <h2 class=" pl-4 text-mr text-xs underline p-2 mt-4">title:</h2>
              <h2 class="pl-4 text-mr text-2xl font-bold pt-4">Order Summary</h2>
            </div>
            <div class="w-5/6 m-auto">
            </div>

         
            <p class=" text-gray-800 pl-2 pt-6">You can now listen to millions of songs, audiobooks ands podcasts on any device anywhere you like!</p>
          
          <div class="grid grid-cols-2 w-72 lg:w-5/6 m-auto bg-indigo-50 mt-5 p-4 lg:p-4 rounded-2xl">
            <div class="col-span-1 pt-1">
              <p class="text-gray-800 font-bold lg:text-sm">Anual Plan</p>
              <p class="text-gray-500 text-sm">$59.99/year</p>
            </div>
            <div class="pt-2 ml-10">
              <a href="https://google.com" class="text-indigo-700 underline hover:no-underline  text-sm hover:text-indigo-500 font-bold">view more</a>
            </div>
          </div>
          <a class="bg-blue-700 w-72 lg:w-5/6 m-auto mt-6 p-2 hover:bg-indigo-500 rounded-2xl  text-white text-center shadow-xl shadow-bg-blue-700">
            <button classs="lg:text-sm text-lg font-bold">Proceed to Payment</button>
          </a>
          <a class="text-center m-auto mt-6 w-full h-16">
            <button class="text-gray-500 font-bold lg:text-sm hover:text-gray-900">Cancel Order</button>
          </a>
        </div>
      </div>
    </div>
</body>
</html>
